header {
    display: flex;
    justify-content: space-between;
}
.btn {
    border-color: none;
    text-decoration: none;
    background-color: purple;
    color: white;
    font-size: 17px;
}
.main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 50px;
    font-weight: bold;
}
.description {
    font-family: 'Courier New', Courier, monospace;
    width: 50%;
    padding-bottom: 30px;
    font-size: 20px;
}
.start-btn {
    padding: 10px 20px 10px 20px;
    background-color: purple;
    border-color: none;
    color: white;
    font-size: 20px;
}
.answer-list {
    list-style: none;
}
.answer-list button {
    background-color: purple;
    color: white;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px 20px 15px 20px;
    font-size: 25px;
    margin-bottom: 10px;
}
.quiz {
    text-align: center;
}
